header {
    background-color: $dark-bgc;
    height: 38px;
    ul {
        list-style: none;
        margin: 0;
        a {
            height: 100%;
            padding: 10px;
            &.active {
                background-color: rgb(87, 87, 87);
            }
            &:hover {
                background-color: $clr1;
            }
        }
    }
}
