// Colors
$clr1: #e72d74;
$clr2: #4e4e4e;
$clr3: #f3367f;
$light-bgc: #ffffff;
$main-bgc: #e0e0e0;
$dark-bgc: rgb(156, 156, 156);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;